<div class="about-container">
  <h2>About the Angular Crash Course</h2>
  <h3>Hello parament {{ param }}</h3>
  <h3>Course {{ queryParam }}</h3>
  <p>Welcome to the Angular Crash Course! </p>

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus obcaecati aut laudantium, explicabo, amet deserunt consequuntur perspiciatis minus enim ipsam odio ratione dolores? Officia in repudiandae ullam obcaecati tempore laborum!</p>

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus obcaecati aut laudantium, explicabo, amet deserunt consequuntur perspiciatis minus enim ipsam odio ratione dolores? Officia in repudiandae ullam obcaecati tempore laborum!</p>
</div>